@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme{
  --font-raleway: var(--font-raleway);
  --font-open-sans: var(--font-open-sans);
  --color-darkOcean: #141E30;
  --color-darkOcean2: #243B55
};

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}
::view-transition-new(root) {
  mask: url('/custom-svg.svg') top left / 0 no-repeat;
  mask-origin: top left;
  animation: scale 1.5s;
}
::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1.5s;
  z-index: -1;
  transform-origin: top left;
}
@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}
   

